* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sono', sans-serif;
  background-color: #181818;
  color: #e2e2e2;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
